.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.horizontal {
  width: 80vh;
  height: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.vertical {
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.cover {
  background-image: url(../img/cover.png);
}

.message {
  background-image: url(../img/mensaje.png);
}

.page_1 {
  background-image: url(../img/pag_1.png);
}

.page_2 {
  background-image: url(../img/pag_2.png);
}

.page_3 {
  background-image: url(../img/pag_3.png);
}

.page_4 {
  background-image: url(../img/pag_4.png);
}

.page_5 {
  background-image: url(../img/pag_5.png);
}

.page_6 {
  background-image: url(../img/pag_6.png);
}

.page_7 {
  background-image: url(../img/pag_7.png);
}

.page_8 {
  background-image: url(../img/pag_8.png);
}

.page_9 {
  background-image: url(../img/pag_9.png);
}

.page_10 {
  background-image: url(../img/pag_10.png);
}

.page_11 {
  background-image: url(../img/pag_11.png);
}

.page_12 {
  background-image: url(../img/pag_12.png);
}

.page_13 {
  background-image: url(../img/pag_13.png);
}

.page_14 {
  background-image: url(../img/pag_14.png);
}

.page_15 {
  background-image: url(../img/pag_15.png);
}

.page_16 {
  background-image: url(../img/pag_16.png);
}

.page_17 {
  background-image: url(../img/pag_17.png);
}

.page_18 {
  background-image: url(../img/pag_18.png);
}

.page_19 {
  background-image: url(../img/pag_19.png);
}

.page_20 {
  background-image: url(../img/pag_20.png);
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: landscape) {
    
    body {
      background-image: none;
    }

    .next-page {
      background-color: red;
    }

}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width:1024px) and (orientation: landscape){
  body {
    background-image: none;
  }

  #next-page {
    background-color: red;
  }
}