.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.horizontal {
  width: 80vh;
  height: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.vertical {
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.cover {
  background-image: url(../img/cover.png);
}

.message {
  background-image: url(../img/mensaje.png);
}

.page_1 {
  background-image: url(../img/pag_1.png);
}

.page_2 {
  background-image: url(../img/pag_2.png);
}

.page_3 {
  background-image: url(../img/pag_3.png);
}

.page_4 {
  background-image: url(../img/pag_4.png);
}

.page_5 {
  background-image: url(../img/pag_5.png);
}

.page_6 {
  background-image: url(../img/pag_6.png);
}

.page_7 {
  background-image: url(../img/pag_7.png);
}

.page_8 {
  background-image: url(../img/pag_8.png);
}

.page_9 {
  background-image: url(../img/pag_9.png);
}

.page_10 {
  background-image: url(../img/pag_10.png);
}

.page_11 {
  background-image: url(../img/pag_11.png);
}

.page_12 {
  background-image: url(../img/pag_12.png);
}

.page_13 {
  background-image: url(../img/pag_13.png);
}

.page_14 {
  background-image: url(../img/pag_14.png);
}

.page_15 {
  background-image: url(../img/pag_15.png);
}

.page_16 {
  background-image: url(../img/pag_16.png);
}

.page_17 {
  background-image: url(../img/pag_17.png);
}

.page_18 {
  background-image: url(../img/pag_18.png);
}

.page_19 {
  background-image: url(../img/pag_19.png);
}

.page_20 {
  background-image: url(../img/pag_20.png);
}

/* Cambios para mobile apaisado van aquí */
@media only screen 
and (max-width:1024px){

  .left-button {
    position: fixed;
    z-index: 999999;
    top: 89%;
    left: 25%;
    height: 25%;
  }

  #prev-page {
    height: 35%;
    width: 1.5rem;
  }

  #first-page {
    height: 35%;
    width: 1.5rem;
  }

  .right-button {
    position: fixed;
    z-index: 999999;
    top: 89%;
    right: 25%;
    height: 25%;
  }

  #next-page {
    height: 35%;
    width: 1.5rem;
  }

}


/* Cambios para mobile apaisado van aquí */
@media only screen 
and (max-width:1024px) and (orientation: landscape){
  body {

  }

  .left-button {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 5%;
    height: 25%;
  }

  #prev-page {
    height: 60%;
    width: 1.5rem;
  }

  #first-page {
    height: 60%;
    width: 1.5rem;
  }

   .right-button {
    position: fixed;
    z-index: 999999;
    top: 50%;
    right: 5%;
    height: 25%;
  }

  #next-page {
    height: 60%;
    width: 1.5rem;
  }

  .horizontal {
    width: 130vh;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .vertical {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
  }

  /*
  .horizontal {
    width: 85vh;
    height: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  } */

}